// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#285780;
$menuActiveText:#285780;
$subMenuActiveText:#285780; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#F5F7FA;

$subMenuBg:#ffffff;
$subMenuHover:#F5F7FA;

$borderColor:#dfe6ec;

$sideBarWidth: 235px;


//font
$fontcolor: #686868;

$fontMain: #4a4a4a;
$fontContent: #6b82a1;
$fontPlaceholder: #5b6378;
$fontLabel: #555555;
$fontOther: #586381;
$fontDisabled: #C0C4CC;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
